{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Leslie Verploegen’s & Eric Ferraiuolo’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}
<p>XXX</p>
<div id="map" style="height: 300px; margin-top: 50px"> <!-- XXX check margin-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d181695.33509506597!2d11.166473653258812!3d44.63812930581038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc455928f023b%3A0x6eff1e4ddf450f9a!2s40017+San+Giovanni+In+Persiceto+BO%2C+Italy!5e0!3m2!1sen!2sfr!4v1451156010489" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding - Matrimonio - Boda</span>
        <span class="ann-primary">27 August 2016</span>
        <span class="ann-secondary">San Giovanni in Persiceto, Bologna, Italia</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 26"}}
            {{addDayEvent "evening-before"
                start = "17h30"
                end   = "22h00"
                desc  = "Warm-up Pizzas"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 27" primary=true}}
            {{addDayEvent "ceremony"
                start = "11h30"
                desc  = "Wedding Ceremony"}}

            {{addDayEvent "ceremony"
                start = "14h00"
                end   = "22h00"
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "28 Sunday"}}
            {{addDayEvent "brunch"
                start = "11h00"
                end   = "14h00"
                desc  = "Informal Brunch"}}
            {{addDayEvent "bike"
                start = "14h00"
                end   = "16h00"
                desc  = "Cool-down activities"}}
            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="how" href="/logistics/">Get There / Arrivare / Llegar</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="where" href="/logistics/hotels/">Stay / Alloggiare / Alojarse</a>
            </li>
        </ul>
        <p class="button-wedding">
            <a class="button" data-icon="what" href="/logistics/outings/" style ="margin-left: 190px; padding-left: 100px; padding-right: 30px;">Do&see / Vedere&fare / Ver&hacer </a>
        </p> 
    </div>
    
    <br/>
    <p style="text-align: center">(in <img src="/photos/italy_flag_16.png" /> sotto + en <img src="/photos/spain_flag_16.png" /> debajo)</p>

   
    <br/>    
    <div class="details l-contain">
         <h1 id="evening-before" class="anchored-header">
            Plan for the weekend
        </h1>
        <p>
            The whole idea behind this wedding is plain and simple: we love each other and we want to celebrate this with you. Thus, we haven’t arranged anything more than few occasions to have a good time together.
        </p>
        <h2 id="evening-before" class="anchored-header">
            Day Before (Friday the 26th of August): Warm-up
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Hopefully, most of you will be around the afternoon before the big day. We suggest we all meet for a late merenda / happy-hour / early dinner around 18h00. The informal gathering will take place at Borghesani’s:
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Casa Famiglia Borghesani</b><br>
                    <a href="https://www.google.fr/maps/@44.6108302,11.1484551,3a,75y,209.09h,73.18t/data=!3m6!1e1!3m4!1s2dPgFm-Nn1DZN40G2tBUdw!2e0!7i13312!8i6656">
                        3 via di Mezzo S. Giovanni in Persiceto <br>
                        (44.610477, 11.147852)
                    </a>
                </address>
            </div>
        </div>
        <p>
            Wooden-oven home made pizzas will be the occasion to mix and mingle! We will need you to confirm your participation  and to bring your drink(s) of choice. 
        </p>
        <h2 id="ceremony" class="anchored-header">
            The Day: Ceremony &amp; Reception
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    We shall meet as early as 11.30 in the main square of Persiceto (punctuality will be crucial). The ceremony will take place at 12h00 in the City Hall. Dress code: formal. 
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.fr/maps/@44.6384748,11.1871749,3a,75y,289.67h,80.75t/data=!3m6!1e1!3m4!1sxmT3jFJyiX6NDxIDodn0Rw!2e0!7i13312!8i6656!6m1!1e1">
                        72 Corso Italia, S. Giovanni in Persiceto<br>
                        (44.638456, 11.186954)<br>
                    </a>
                </address>
            </div>
        </div>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The reception will take place from 14h00 to 22h00. The Villa we choose offers a nice garden with a beautiful pool: we suggest you to bring a swimsuit and/or the necessary to change into a comfortable informal summer outif.
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Villa Cortese</b><br>
                    <a href="https://www.google.fr/maps/place/Villa+Cortese/@44.6923266,10.8578406,15z/data=!4m7!1m4!3m3!1s0x477ff1dd743aba57:0xe22822b226539074!2sVia+Ponte+Alto,+35,+41011+Campogalliano+MO,+Italy!3b1!3m1!1s0x477ff1eabec356a9:0x7cb6b9070b5851f4">
                        35 via Ponte Alto, Campogalliano<br>
                        (44.692100, 10.859599)<br>
                    </a>
                </address>
            </div>
        </div>
        <h2 id="brunch" class="anchored-header">
            Day After (Sunday the 28th of August): Cool-down
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    After a good sleep, we can gather for a light brunch in Persiceto.
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://www.birradiclasse.com/aula/">Aula - Birra di Classe</a></b><br>
                    <a href="https://www.google.fr/maps/place/Circonvallazione+Italia,+50,+40017+San+Giovanni+in+Persiceto+BO,+Italy/@44.6371753,11.1876317,17z/data=!3m1!4b1!4m2!3m1!1s0x477fc5aa824cf54b:0x2c8fb159ac53eaf8">
                        50 Circonvallazione Italia, S. Giovanni in Persiceto <br>
                        (44.637240, 11.189713)
                    </a>
                </address>
            </div>
            </div>
        <p>
            Then, we are planning a chill out afternoon (e.g. a nice walk/bike ride around the beautiful countryside). Updates will follow.
        </p>
    </div>
    
    <br/>
    <br/>
    <br/> 
        <div class="details l-contain">
         <h1 id="evening-before" class="anchored-header">
            <img src="/photos/italy_flag_16.png" /> Programma del finesettimana
        </h1>
        <p>
            L'idea per questo weekend é molto semplice: ci amiamo e vogliamo festeggiarlo con voi. Dunque non abbiamo organizzato altro che occasioni per spendere tempo di qualità assieme.
        </p>
        <h2 id="evening-before" class="anchored-header">
            Il Giorno Prima (Venerdi 26 Agosto): Riscaldamento
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Il pomeriggio della vigilia del grande giorno, si spera che la maggior parte di voi sia già arrivata. Vi proponiamo di incontrarci tutti per una tarda merenda / aperitivo / cena leggera verso le 18h00. Il ritrovo, molto informale, avverrà in:
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Casa Famiglia Borghesani</b><br>
                    <a href="https://www.google.fr/maps/@44.6108302,11.1484551,3a,75y,209.09h,73.18t/data=!3m6!1e1!3m4!1s2dPgFm-Nn1DZN40G2tBUdw!2e0!7i13312!8i6656">
                        3 via di Mezzo S. Giovanni in Persiceto <br>
                        (44.610477, 11.147852)
                    </a>
                </address>
            </div>
        </div>
        <p>
            Le pizze fatte in casa con forno a legna saranno l’occasione per conoscersi un po’. Ti preghiamo di confermare la tua partecipazione e di portare la tua bevanda preferita (o più di una!).
        </p>

        <h2 id="ceremony" class="anchored-header">
            Il Grande Giorno: Cerimonia &amp; Ricevimento
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                   Ci vedremo tutti verso le 11h30 in piazza, la cerimonia comincierà alle 12h00 in Comune. Si richiede la massima puntualità ed un abbigliamento formale.
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.fr/maps/@44.6384748,11.1871749,3a,75y,289.67h,80.75t/data=!3m6!1e1!3m4!1sxmT3jFJyiX6NDxIDodn0Rw!2e0!7i13312!8i6656!6m1!1e1">
                        72 Corso Italia, S. Giovanni in Persiceto<br>
                        (44.638456, 11.186954)<br>
                    </a>
                </address>
            </div>
        </div>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Il ricevimento avverà dalle 14h00 alle 22h00. La Villa che abbiamo scelto offre un bel giardino con tanto di piscina: vi consigliamo di portare il costume da bagno o almeno un cambio d'abito per essere più comodi.
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Villa Cortese</b><br>
                    <a href="https://www.google.fr/maps/place/Villa+Cortese/@44.6923266,10.8578406,15z/data=!4m7!1m4!3m3!1s0x477ff1dd743aba57:0xe22822b226539074!2sVia+Ponte+Alto,+35,+41011+Campogalliano+MO,+Italy!3b1!3m1!1s0x477ff1eabec356a9:0x7cb6b9070b5851f4">
                        35 via Ponte Alto, Campogalliano<br>
                        (44.692100, 10.859599)<br>
                    </a>
                </address>
            </div>
        </div>
        <h2 id="brunch" class="anchored-header">
            Il Giorno Dopo (Domenica 28 Agosto): Defaticamento
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Dopo una buona dormita, ci incontreremo per un brunch a Persiceto.
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://www.birradiclasse.com/aula/">Aula - Birra di Classe</a></b><br>
                    <a href="https://www.google.fr/maps/place/Circonvallazione+Italia,+50,+40017+San+Giovanni+in+Persiceto+BO,+Italy/@44.6371753,11.1876317,17z/data=!3m1!4b1!4m2!3m1!1s0x477fc5aa824cf54b:0x2c8fb159ac53eaf8">
                        50 Circonvallazione Italia, S. Giovanni in Persiceto <br>
                        (44.637240, 11.189713)
                    </a>
                </address>
            </div>
        </div>
        <p>
            Stiamo pianificando un rilassante pomeriggio (es. una passeggiata/biciclettata nella bellissima campagna persicetana). Seguiranno aggiornamenti.
        </p>
    </div>

    <br/>
    <br/>
    <br/> 
        <div class="details l-contain">
         <h1 id="evening-before" class="anchored-header">
           <img src="/photos/spain_flag_16.png" /> Programa para el fin de semana
        </h1>
        <p>

La idea detrás de esta boda es así de simple: nos amamos y queremos celebrarlo contigo. Por lo tanto, proponemos unas ocasiones para pasar un buen rato juntos.        </p>
        <h2 id="evening-before" class="anchored-header">
            El día de antes (Viernes 26 de Agosto): calientamiento
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
Con suerte, la mayoría de ustedes estarán en los alrededores a la tarde antes del gran día. Sugerimos para entablar contacto un merienda / happy-hour / meriendacena temprano alrededor de las 18h00. La reunión informal tendrá lugar en casa de los Borghesani:                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Casa Familia Borghesani</b><br>
                    <a href="https://www.google.fr/maps/@44.6108302,11.1484551,3a,75y,209.09h,73.18t/data=!3m6!1e1!3m4!1s2dPgFm-Nn1DZN40G2tBUdw!2e0!7i13312!8i6656">
                        3 via di Mezzo S. Giovanni in Persiceto <br>
                        (44.610477, 11.147852)
                    </a>
                </address>
            </div>
        </div>
        Un horno de madera para pizzas caseras serán la ocasión para conocernos! Para asistir necesitamos que confirme su participación y traiga su propia bebida(s).
        </p>
        <h2 id="ceremony" class="anchored-header">
            Ceremonia &amp; Recepción
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Nos encontraremos a las 11.30h, en la plaza principal de Persiceto. La ceremonia tendrá lugar a las 12.00 horas en el Ayuntamiento:              </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.fr/maps/@44.6384748,11.1871749,3a,75y,289.67h,80.75t/data=!3m6!1e1!3m4!1sxmT3jFJyiX6NDxIDodn0Rw!2e0!7i13312!8i6656!6m1!1e1">
                        72 Corso Italia, S. Giovanni in Persiceto<br>
                        (44.638456, 11.186954)<br>
                    </a>
                </address>
            </div>
        </div>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                La recepción se llevará a cabo a desde las 14h00 hasta las 22h00. La Villa que hemos elegido cuenta con una hermosa piscina: le sugerimos que traiga un traje de baño y/o lo necesario cambiarse en atuendo cómodo-informal de verano.
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Villa Cortese</b><br>
                    <a href="https://www.google.fr/maps/place/Villa+Cortese/@44.6923266,10.8578406,15z/data=!4m7!1m4!3m3!1s0x477ff1dd743aba57:0xe22822b226539074!2sVia+Ponte+Alto,+35,+41011+Campogalliano+MO,+Italy!3b1!3m1!1s0x477ff1eabec356a9:0x7cb6b9070b5851f4">
                        35 via Ponte Alto, Campogalliano<br>
                        (44.692100, 10.859599)<br>
                    </a>
                </address>
            </div>
        </div>
        <h2 id="brunch" class="anchored-header">
            El día después (Domingo 28 de August).
        </h2>
<div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                   Después de una buena noche de sueño proponemos reunirnos para un almuerzo ligero en Persiceto. 
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://www.birradiclasse.com/aula/">Aula - Birra di Classe</a></b><br>
                    <a href="https://www.google.fr/maps/place/Circonvallazione+Italia,+50,+40017+San+Giovanni+in+Persiceto+BO,+Italy/@44.6371753,11.1876317,17z/data=!3m1!4b1!4m2!3m1!1s0x477fc5aa824cf54b:0x2c8fb159ac53eaf8">
                        50 Circonvallazione Italia, S. Giovanni in Persiceto <br>
                        (44.637240, 11.189713)
                    </a>
                </address>
            </div>
        </div>
        <p>
            Después de eso está prevista una tarde relajante con, por ejemplo, un agradable paseo a pié o bicicleta por el campo. Pronto se precisarán los detalles.
        </p>
    </div>

</div>
