{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Leslie Verploegen’s & Eric Ferraiuolo’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}
<p>XXX</p>
<div id="map" style="height: 300px; margin-top: 50px"> <!-- XXX check margin-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d181695.33509506597!2d11.166473653258812!3d44.63812930581038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc455928f023b%3A0x6eff1e4ddf450f9a!2s40017+San+Giovanni+In+Persiceto+BO%2C+Italy!5e0!3m2!1sen!2sfr!4v1451156010489" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding - Matrimonio - Boda</span>
        <span class="ann-primary">27 August 2016</span>
        <span class="ann-secondary">San Giovanni in Persiceto, Bologna, Italia</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 26"}}
            {{addDayEvent "evening-before"
                start = "17h00"
                end   = "10h00"
                desc  = "Warm-up Pizzas @ Casa Borghesani"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 27" primary=true}}
            {{addDayEvent "ceremony"
                start = "11h30"
                desc  = "Wedding Ceremony"}}

            {{addDayEvent "ceremony"
                start = "14h00"
                end   = "23h00"
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "28 Sunday"}}
            {{addDayEvent "brunch"
                start = "11h00"
                end   = "13h00"
                desc  = "Informal Brunch"}}
            {{addDayEvent "bike"
                start = "14h00"
                end   = "16h00"
                desc  = "Cool-down activities"}}
            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="how" href="/logistics/">Get There / Arrivare / Llegar</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="where" href="/logistics/hotels/">Stay / Alloggiare / Alojarse</a>
            </li>
        </ul>
    </div>
        <p class="button-wedding">
            <a class="button" data-icon="what" href="/logistics/outings/">Do&see / Vedere&fare / Ver&hacer</a>
        </p> 
        
    <div class="details l-contain">
         <h2 id="evening-before" class="anchored-header">
            <b>Plan for the weekend</b>
        </h2>
        <p>
            The whole idea behind this wedding is plain and simple: we love each other and we want to celebrate this with you. Thus, we haven’t arranged anything more than few good occasions to have a good time together.
        </p>
        <h2 id="evening-before" class="anchored-header">
            Day Before (Friday the 26th of August): warm-up
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Hopefully, most of you will be around the afternoon before the big day. We suggest we all meet for a late merenda / happy-hour / early dinner around 18h00. The informal gathering will take place at Borghesani’s:
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Casa Famiglia Borghesani</b><br>
                    <a href="https://www.google.fr/maps/@44.6108302,11.1484551,3a,75y,209.09h,73.18t/data=!3m6!1e1!3m4!1s2dPgFm-Nn1DZN40G2tBUdw!2e0!7i13312!8i6656">
                        3 via di Mezzo S. Giovanni in Persiceto <br>
                        (44.610477, 11.147852)
                    </a>
                </address>
            </div>
        </div>
        <p>
            Wooden-oven home made pizzas will be the occasion to mix and mingle! We will need you to confirm your participation  and to bring your drink(s) of choice. 
        </p>
        <h2 id="ceremony" class="anchored-header">
            The Day: Ceremony &amp; Reception
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    We shall meet as early as 11.30 in the main square of Persiceto. The ceremony will take place at 12h00 in the City Hall:
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.fr/maps/@44.6384748,11.1871749,3a,75y,289.67h,80.75t/data=!3m6!1e1!3m4!1sxmT3jFJyiX6NDxIDodn0Rw!2e0!7i13312!8i6656!6m1!1e1">
                        72 Corso Italia, S. Giovanni in Persiceto<br>
                        (44.638456, 11.186954)<br>
                    </a>
                </address>
            </div>
        </div>
        <h2 id="brunch" class="anchored-header">
            Day After (Sunday the 28th of August): cool-down
        </h2>
        <p>
            Clearly, after a good sleep we will all need to digest the food (and the big change!). We are planning a chill out afternoon and we invite you to a nice walk/bike ride around the beautiful countryside of Persiceto. Updates will follow.
        </p>
    </div>
    
        <div class="details l-contain">
         <h2 id="evening-before" class="anchored-header">
            <img src="/photos/italy_flag_16.png" /> <b>Programma del finesettimana</b>
        </h2>
        <p>
            L'idea per questo weekend é molto semplice: ci amiamo e vogliamo festeggiarlo con voi. Dunque non abbiamo organizzato altro che occasioni per spendere tempo di qualità assieme.
        </p>
        <h2 id="evening-before" class="anchored-header">
            Il Giorno Prima (Venerdi 26 Agosto): riscaldamento
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    Il pomeriggio della vigilia del grande giorno, si spera che la maggior parte di voi sia già arrivata. Vi proponiamo di incontrarci tutti per una tarda merenda / aperitivo / cena leggera verso le 18h00. Il ritrovo, molto informale, avverrà in:
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Casa Famiglia Borghesani</b><br>
                    <a href="https://www.google.fr/maps/@44.6108302,11.1484551,3a,75y,209.09h,73.18t/data=!3m6!1e1!3m4!1s2dPgFm-Nn1DZN40G2tBUdw!2e0!7i13312!8i6656">
                        3 via di Mezzo S. Giovanni in Persiceto <br>
                        (44.610477, 11.147852)
                    </a>
                </address>
            </div>
        </div>
        <p>
            Le pizze fatte in casa con forno a legna saranno l’occasione per conoscersi un po’. Ti preghiamo di confermare la tua partecipazione e di portare la tua bevanda preferita (o più di una!).
        </p>

        <h2 id="ceremony" class="anchored-header">
            Il Grande Giorno: Cerimonia &amp; Ricevimento
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                   Ci vedremo tutti verso le 11h30 in piazza, la cerimonia comincierà alle 12h00 in Comune:
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.fr/maps/@44.6384748,11.1871749,3a,75y,289.67h,80.75t/data=!3m6!1e1!3m4!1sxmT3jFJyiX6NDxIDodn0Rw!2e0!7i13312!8i6656!6m1!1e1">
                        72 Corso Italia, S. Giovanni in Persiceto<br>
                        (44.638456, 11.186954)<br>
                    </a>
                </address>
            </div>
        </div>
        <h2 id="brunch" class="anchored-header">
            Il Giorno Dopo (Domenica 28 Agosto): rilassamento
        </h2>
        <p>
            Sicuramente, dopo una buona dormita avremo tutti bisogno di digerire il cibo (ed il grande cambiamento!). Stiamo pianificando un rilassante pomeriggio e vi invitiamo ad una passeggiata/biciclettata nella bellissima campagna persicetana. Seguiranno aggiornamenti.
        </p>
    </div>

        <div class="details l-contain">
         <h2 id="evening-before" class="anchored-header">
           <img src="/photos/spain_flag_16.png" />  <b>Programa para el fin de semana</b>
        </h2>
        <p>

La idea detrás de esta boda es así de simple: nos amamos y queremos celebrarlo contigo. Por lo tanto, proponemos unas ocasiones para pasar un buen rato juntos.        </p>
        <h2 id="evening-before" class="anchored-header">
            El día de antes (Viernes 26 de Agosto): calientamiento
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
Con suerte, la mayoría de ustedes estarán en los alrededores a la tarde antes del gran día. Sugerimos para entablar contacto un merienda / happy-hour / meriendacena temprano alrededor de las 18h00. La reunión informal tendrá lugar en casa de los Borghesani:                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <b>Casa Familia Borghesani</b><br>
                    <a href="https://www.google.fr/maps/@44.6108302,11.1484551,3a,75y,209.09h,73.18t/data=!3m6!1e1!3m4!1s2dPgFm-Nn1DZN40G2tBUdw!2e0!7i13312!8i6656">
                        3 via di Mezzo S. Giovanni in Persiceto <br>
                        (44.610477, 11.147852)
                    </a>
                </address>
            </div>
        </div>
        <p>
            Wooden-oven home made pizzas will be the occasion to mix and mingle! We will need you to confirm your participation  and to bring your drink(s) of choice. 
        </p>
        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>
        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    We shall meet as early as 11.30 in the main square of Persiceto. The ceremony will take place at 12h00 in the City Hall:
                </p>
            </div>
            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://www.google.fr/maps/@44.6384748,11.1871749,3a,75y,289.67h,80.75t/data=!3m6!1e1!3m4!1sxmT3jFJyiX6NDxIDodn0Rw!2e0!7i13312!8i6656!6m1!1e1">
                        72 Corso Italia, S. Giovanni in Persiceto<br>
                        (44.638456, 11.186954)<br>
                    </a>
                </address>
            </div>
        </div>
        <h2 id="brunch" class="anchored-header">
            Day After (Sunday the 28th of August): cool-down
        </h2>
        <p>
            Clearly, after a good sleep we will all need to digest the food (and the big change!). We are planning a chill out afternoon and we invite you to a nice walk/bike ride around the beautiful countryside of Persiceto. Updates will follow.
        </p>
    </div>

</div>
